body {
    margin: 10px;
}
.square {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.s {
    width: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    margin: 10px;
}

p {
    text-align: center;
}
