* {
    margin: 0;
    padding: 0;
}
header {
    height: 150px;
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0;
}
.title {
    color: white;
    text-align: center;
    text-shadow: 3px 0 white;
}
.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img {
    width: 150px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 3px 3px white;
}
.body {
    padding: 10px;
    display: flex;
    flex-direction: row;
}
p {
    font-size: 13px;
}
h2 {
    font-size: 20px;
}
.menu {
    height: 100px;
    width: max-content;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px;
    float: right;

}
footer {
    height: 20px;
    background-color: black;
    position: sticky;
    bottom: 0;
}
.fotter{
    text-align: center;
    color: white;
}

.text {
    
}