div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
}

.top-left {
    background-color: yellow;
    top: 10px;
    left: 10px;
}

.top-right {
    background-color: blue;
    top: 10px;
    right: 10px;
}

.bottom-left {
    background-color: green;
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    background-color: red;
    bottom: 10px;
    right: 10px;
}